body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

nav{
    border: solid 5px #225371;
    background-color: #225371;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

nav img{
    height: 70px;
    padding: 10px;
}

main{
    position: absolute;
    top: 150px;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.carrocel{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    height: 15px;
}

::-webkit-scrollbar-track{
    background: rgb(178, 178, 178);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    border: solid 2px black;
}

::-webkit-scrollbar-thumb{
    background: rgb(218, 216, 216);
    border: solid 2px black;
    border-radius: 12px;
}

.apar{
    border: solid 5px black;
    height: 500px;
    width: 500px;
    margin: 50px;
    flex-shrink: 0;
    background-color: #225371;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.apar img{
    height: 250px;
    width: 300px;
}

.apar button{
    background-color: orange;
    border: none;
    border-radius: 12px;
}

.apar a :hover{
    background-color: rgb(206, 134, 0);
    border: none;
    border-radius: 12px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha{
    content: "";
    border: solid 2px black;
    background-color: black;
    height: 10px;
    width:100%;
    position: relative;
    top: 500px;
    
}