nav{
    border: solid 5px #225371;
    background-color: #225371;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

nav img{
    height: 70px;
    padding: 10px;
}

form{
    position: absolute;
    top: 115px;
    width: 95%;
    height: 82vh;
    margin-left: 2.5%;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin-top: 20px;
    font-size: 25px;
    height: 50px;
    width: 350px;
    background-color: orange;
    border: none;
    border-radius: 12px;
}

.return{
    margin-top: 20px;
    font-size: 25px;
    height: 50px;
    width: 180px;
    background-color: orange;
    border: none;
    border-radius: 12px; 
}

a{
    text-decoration: none;
    color: black;
}

.bnt :hover{
    background-color: rgb(206, 134, 0);
}

.line1{
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line1 input{
    margin-left: 10px;
}

.line1 select{
    margin-left: 10px;
}

.line2{
    width: 200px;
}

.line3{
    width: 200px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

