*,
* ::before,
* ::after{
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif
}

main{
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBar{
    border: solid 5px rgb(217, 217, 217);
    width: 15%;
    height: 98vh;
    padding: 10px;
    background-color: rgb(217, 217, 217);
    margin-right: 10px;
    
}

.sideBar h2{
    margin-bottom: 50px;
}

.txt{
    border: solid 5px rgb(217, 217, 217);
    width: 40%;
    height: 98vh;
    background-color: rgb(217, 217, 217);
}

.midea{
    border: solid 5px rgb(217, 217, 217);
    width: 30%;
    height: 98vh;
    background-color: rgb(217, 217, 217);
    margin-left: 10px;
}


.bnt h2{
    background-color: orange;
    border: none;
    border-radius: 12px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.bnt :hover{
    background-color: rgb(206, 134, 0);
    border: none;
    border-radius: 12px;
}

.bnt1 :active{
   color: black;
}

.bnt2 :active{
   color: black;
}

.bnt3 :active{
   color: black;
}

.bnt4 :active{
   color: black;
}

.bnt1 :hover{
    
}

.bnt-ativo{
    color: black;
}

