*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif
}

body{
    margin: 0;
    padding: 0;
    
    color: #225371;
}

#screen {
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 210px;
    height: 210px;
    border-radius: 12px;
    margin: 10px;
    margin-top: 2px;
    background-color: #002b45;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button :hover{
    background-color: #3b637b;
    border-radius: 12px;
    transition: 0.5s;
}

.button img{
    width: 200px;
    height: 200px;
}

.name{
    text-align: center;
    font-size: 20px;
    color: #225371;
    margin-bottom: 1px;
}

.title{
    position: absolute;
    top: 100px;
    font-size: 24px;
}

@media (max-width: 600px) {
    main{
        height: 400px;
        width: 200px;
        flex-direction: column;
    }
    .button{
        width: 140px;
        height: 140px;

    }

    .button img{
        width: 140px;
        height: 140px;
    }

    .name{
        text-align: center;
        font-size: 14px;
        color: #225371;
    }
    
    .title{
        position: absolute;
        top: 10px;
        font-size: 15px;
    }
}

   